@inherits LayoutComponentBase

<PageTitle>New Tab</PageTitle>

<div class="page" style="height: 100vh;">
    <NavBar />

    <main class="d-flex">
        <article class="content px-4 w-100">
            @Body
        </article>
    </main>
</div>
