<nav class="d-flex flex-column bg-dark" style="width: 4rem;">
    <ul class="nav nav-pills flex-column text-center">
        <li class="nav-item py-1">
            <a class="nav-link p-3" href="/Settings" title="Settings">
                <Settings Color="white" Width="30" Height="30" />
            </a>
        </li>
    </ul>
</nav>